flows.json
[{"id":"60fa43de.45ef8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a362fef2.3b362","type":"websocket-listener","z":"","path":"/ws/tweet","wholemsg":"false"},{"id":"93868bc8.fa7c78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e4ab4530.6a0a08","type":"twitter-api-connection","z":"","consumerKey":"MBgCsS6lSdRX5H6y5R9cqX6Ol","consumerSecret":"Kachz77ZY3buDWYClxqSTckGLEmpo9JLC5dnaPmnwsWOAzHxNg","accessToken":"2247929742-iQkxS8q6no4eGhjCUEbSW1kGMtyUxy1MiXPtBxX","accessSecret":"5o704C6DXPO4A8Mdc1UiFa5OJfuY55Gg00HkPFJl8Pdn2"},{"id":"2b912c28.5d00b4","type":"deduplicate","z":"60fa43de.45ef8c","name":"","keyproperty":"id","expiry":5,"x":250,"y":120,"wires":[["6ddd442e.961fcc","b7765bd3.527948"],["3a5dd8f8.e8c9b8"]]},{"id":"6ddd442e.961fcc","type":"debug","z":"60fa43de.45ef8c","name":"Twitter Debug","active":false,"tosidebar":true,"console":false,"complete":"true","x":440,"y":60,"wires":[]},{"id":"3a5dd8f8.e8c9b8","type":"debug","z":"60fa43de.45ef8c","name":"Duplicate Tweet","active":false,"console":false,"complete":"payload","x":440,"y":180,"wires":[]},{"id":"e9ef677c.f5b158","type":"function","z":"60fa43de.45ef8c","name":"Tweet with coords","func":"payload = msg.payload;\ntweetID = payload.id_str;\nuserID = payload.user.id_str;\nscreen_name = payload.user.screen_name;\nuserName = \"@\" + screen_name;\n\n//Get coordianates\nif (payload.geo !== null) {\n    coords = payload.geo.coordinates;\n    lat = coords[0];\n    lon = coords[1];\n} \nelse \n{\n    console.log(\"No coords\")\n}\n\n//Get full text for extended tweets\nif (payload.truncated === true) {\n    tweetText = payload.extended_tweet.full_text;\n} else {\n    tweetText = payload.text;\n}\n\nmsg.payload = {tweetID: tweetID, userID: userID, userName: userName, lat: lat, lon: lon, tweetText: tweetText};\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["73d4d70c.842b68"]]},{"id":"be6020db.e78d5","type":"debug","z":"60fa43de.45ef8c","name":"Processed Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":80,"wires":[]},{"id":"fb2e5d59.4733c","type":"websocket out","z":"60fa43de.45ef8c","name":"","server":"a362fef2.3b362","client":"","x":1150,"y":160,"wires":[]},{"id":"cbc94f31.f812c","type":"debug","z":"60fa43de.45ef8c","name":"Message In","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":280,"wires":[]},{"id":"8aeca8bb.3d08f8","type":"function","z":"60fa43de.45ef8c","name":"Tweet Processing","func":"payload = msg.payload;\nlayer = \"Twitter\";\nscreen_name = payload.user.screen_name;\nname = \"@\" + screen_name;\nicon = \"twitter\";\niconColor = \"#00ACEE\";\nweblink = \"https://twitter.com/\" + screen_name + \"/status/\" + payload.id_str;\nphotoUrl = payload.entities.media[0].media_url_https;\n\nif (payload.geo !== null) {\n    coords = payload.geo.coordinates;\n    lat = coords[0];\n    lon = coords[1];\n    point = {layer, name, lat, lon, icon, iconColor, weblink, photoUrl};\n    msg.payload = point;\n} \nelse\n{\n    console.log(\"Tweet by \" + name + \" has no geo\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":260,"wires":[["95425adf.6dfbd8","636af6fa.24abd8"]]},{"id":"95425adf.6dfbd8","type":"worldmap","z":"60fa43de.45ef8c","name":"","lat":"53.3476","lon":"-6.2591","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1160,"y":260,"wires":[]},{"id":"636af6fa.24abd8","type":"debug","z":"60fa43de.45ef8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":220,"wires":[]},{"id":"73d4d70c.842b68","type":"sentiment","z":"60fa43de.45ef8c","name":"","property":"payload.tweetText","x":820,"y":120,"wires":[["2d26547c.03d53c"]]},{"id":"2d26547c.03d53c","type":"function","z":"60fa43de.45ef8c","name":"Add Score","func":"msg.payload.sentimentScore = msg.sentiment.score;\n\nvar storedTweet = msg.payload;\nflow.set('storedTweet', storedTweet);\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":120,"wires":[["be6020db.e78d5","fb2e5d59.4733c"]]},{"id":"b7765bd3.527948","type":"switch","z":"60fa43de.45ef8c","name":"Point coordinates?","property":"payload.geo","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":120,"wires":[["e9ef677c.f5b158","8aeca8bb.3d08f8"],["c48768bd.e9ccb8"]]},{"id":"c48768bd.e9ccb8","type":"function","z":"60fa43de.45ef8c","name":"Tweet with place","func":"payload = msg.payload;\n\n//Get coordinates from bounding box\nif (payload.place !== null) {\n\n    coords = payload.place.bounding_box.coordinates;\n    //south_west = coords[0][0][1];\n    //north_east = coords[2];\n    //first_pair = south_west[0];\n    //second_pair = north_east[0];\n    south = coords[0][0][1];\n    east = coords[0][0][0];\n    north = coords[0][2][1];\n    west = coords[0][2][0];\n    \n    //Calculate centre point\n    lat = (south + north) / 2;\n    lon = (west + east) / 2;\n}\nelse\n{\n    console.log(\"Place has no bounding box\")\n}\n\n//Replace coordinates\ncoordinates = [lat, lon];\nnew_geo = {type: \"Point\", coordinates};\npayload.geo = new_geo;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":160,"wires":[["ab1693b2.241b9"]]},{"id":"ab1693b2.241b9","type":"debug","z":"60fa43de.45ef8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":160,"wires":[]},{"id":"68a9160f.090ca8","type":"Twitter Stream","z":"60fa43de.45ef8c","connection":"e4ab4530.6a0a08","follow":"","topics":"#opendistribution","xmin":"","xmax":"","ymin":"","ymax":"","onlyPoints":false,"onlyBounded":false,"tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"","x":90,"y":120,"wires":[["2b912c28.5d00b4"]]},{"id":"29cbdbd5.beb374","type":"websocket in","z":"60fa43de.45ef8c","name":"","server":"a362fef2.3b362","client":"","x":100,"y":280,"wires":[["cbc94f31.f812c"]]}]